/* ensures that all items in a box are in a row */
.items{
    height: 300px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
/* creates cursor pointer on hover */
.items:hover{
    cursor: pointer;
}
/* */
.items.active{
    cursor: grabbing;
    transform: scale(1.02);
}
/* scaled everything in the .items class 0.02. and makes cursor grabbing */
.items::-webkit-scrollbar {
	display:none
}
/* causes item to be a colored rectangle that stays in the row of items */
.item-1{
    display: inline-block;
    width: 400px;
    height: 300px;
    background-color: thistle;
}
/* causes item to be a colored rectangle that stays in the row of items */
.item-2{
    display: inline-block;
    width: 400px;
    height: 300px;
    background-color: rgb(211, 216, 191);
}
/* causes item to be a colored rectangle that stays in the row of items */
.item-3{
    display: inline-block;
    width: 400px;
    height: 300px;
    background-color: rgb(191, 216, 191);
}
/* causes item to be a colored rectangle that stays in the row of items */
.item-4{
    display: inline-block;
    width: 400px;
    height: 300px;
    background-color: rgb(191, 198, 216);
}